<style type="text/css">

.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  margin-bottom: 0;
}

.header .wrapper-inner {
  padding: 20px; /*controls the height of the header*/
}

.header .container {
  background: #8a8a8a;
}

.wrapper.secondary {
  background: #f3f3f3;
}

</style>
<!-- move the above styles into your custom stylesheet -->


<wrapper class="header" bgcolor="#8a8a8a">
  <container>
    <row class="collapse">
      <columns small="6" valign="middle">
        <img src="union_logo_icon.png">
      </columns>
      <columns small="6" valign="middle">
        <p class="text-right">The Union Safety System</p>
      </columns>
    </row>
  </container>
</wrapper>

<container>

  <spacer size="16"></spacer>
  
  <row>
    <columns>
      
      <h1>Work Smarter with the Union Safety System!</h1>
      <p class="lead">Thank you for your interest in the Union Safety System app to help ensure a safer workplace for all! We are currently in phase I of development and will be expanding to your area later in 2022.</p>
      <p>The Union Safety System supports all trades and locals and look forward to connecting with your group! Please take a look at this <a href="https://www.instagram.com/tv/CSEdiLzn7mc/?utm_source=ig_web_copy_link">video</a> for more details on the app's capabilities and for directions on how to add it to your phone.</p>

    </columns>
  </row>
  
  <wrapper class="secondary">
    <spacer size="16"></spacer>
    <row>
      <columns small="12" large="6">
        <h5>Connect With Us:</h5>
        <menu class="vertical">
          <item style="text-align: left;" href="https://www.instagram.com/union_safety_system/">Instagram</item>
          <item style="text-align: left;" href="https://www.facebook.com/UnionSafetySystem">Facebook</item>
          <item style="text-align: left;" href="https://twitter.com/unionsafetysys">Twitter</item>
          <item style="text-align: left;" href="https://www.linkedin.com/company/union-safety-system/">LinkedIn</item>
        </menu>
      </columns>
    </row>
  </wrapper>

</container>
